/* 
Css for custom3 and custom4 html
 */


body {
    background:  transparent url('../images/bg-blackshadow@2x.png') center center no-repeat padding-box;
    /* Full height */
    height: 100%;
    background-size: cover;
    font-family: Calibri;
    color: #FFFFFF;  

}

nav .navbar-brand .nav-img {
    width: 200px;
    height: 53px;
}

.section-title {
    font: normal normal bold 50px/61px Calibri;
}


.product-img-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 4px #00000029;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 30px;
}

.product-location{
    padding-left:70px;
}

.product-location ul li{
    font: normal normal normal 40px/49px Calibri;
}

.product-short-info {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 4px #00000029;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 30px;
}

.product-short-info ol li {
    font: normal normal bold 35px/42px Calibri;
    letter-spacing: 0.7px;
    color: #040400;
}

.product-coupon {
    box-shadow: 0px 3px 4px #00000029;
    border: 2px dashed #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    
}

.product-coupon h1 {
    font: normal normal bold 50px/61px Calibri;
    letter-spacing: 1px;
    color: #AFBD20;
}

footer {
    text-align: center;
}

footer hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color:whitesmoke;
}

footer > h4 {
    font: normal normal bold 20px/29px Calibri;
    letter-spacing: 0px;
    color: #AFBD20;
    text-shadow: 0px 6px 10px #00000061;
    opacity: 1;
}


@media only screen and (max-width: 767px) {
    body {
      background-image: url('../images/bg-blackshadow.png');
    }

    nav .navbar-brand .nav-img {
        width: 100px;
        height: 35px;
    }
    
    .product-coupon h1 {
        font: normal normal bold 40px/51px Calibri;
    }

}