
body {
    background:  transparent url('../images/bg@2x.png') center center no-repeat padding-box;
    /* Full height */
    height: 100%;
    background-size: cover;
    font-family: Calibri;
    color: #FFFFFF;  

}

.text-content {
    margin-top: 400px;
    left: 174px;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
}

.text-content .text-title {
    font: normal normal bold 100px/122px Calibri;
    text-shadow: 0px 6px 10px #00000061;

}

.text-content .text-subtitle {
    font: normal normal normal 50px/80px Calibri;
    color: #AEBC1F;
}


.rectangle-box {
    margin-top: 260px;
    width:100%;
    height: auto;
    /* width: 1200px; */
    /* height: 1660px; */
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 6px #00000042;
    border-radius: 50px 50px 0px 0px;
    opacity: 0.8;
   
}

.rectangle-box .logo {
    padding-top: 100px;
}

.rectangle-box .rectangle-text{
    padding-top: 330px;
    font: normal normal normal 60px/80px Calibri;
    letter-spacing: 0px;
    opacity: 1;
}

.rectangle-categorie-section .section-title {
    padding-top: 330px;
    font: normal normal bold 50px/61px Calibri;
    color: #AEBC1F;
}

.rectangle-categorie-section .categories-button .btn {
    color: white;
    background-color: #AFBD20;
    border-radius: 4px;
    font-size: 2.25rem;
    padding: 10px 10px 5px 5px;
}

.rectangle-box-footer {
    padding-bottom: 20px;
}

.rectangle-box-footer h4 {
    font: normal normal bold 20px/29px Calibri;
    letter-spacing: 0px;
    color: #AFBD20;
    text-shadow: 0px 6px 10px #00000061;
    opacity: 1;
}

.rectangle-box hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color:whitesmoke;
}


@media only screen and (max-width: 767px) {
    body {
      background-image: url('../images/bg.png');
    }

    .text-content .text-title {
        font: normal normal bold 26px/30px Calibri;
    
    }
    
    .text-content .text-subtitle {
        font: normal normal normal 18px/25px Calibri;
    }
  }